In [1]:
import pandas as pd
df=pd.read_excel("default of credit card clients.xls")
print(df)

      Unnamed: 0         X1   X2         X3        X4   X5     X6     X7  \
0             ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2
1              1      20000    2          2         1   24      2      2
2              2     120000    2          2         2   26     -1      2
3              3      90000    2          2         2   34      0      0
4              4      50000    2          2         1   37      0      0
...          ...        ...  ...        ...       ...  ...    ...    ...
29996      29996     220000    1          3         1   39      0      0
29997      29997     150000    1          3         2   43     -1     -1
29998      29998      30000    1          2         2   37      4      3
29999      29999      80000    1          3         1   41      1     -1
30000      30000      50000    1          2         1   46      0      0

          X8     X9  ...        X15        X16        X17       X18       X19  \
0      PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2
1         -1     -1  ...          0          0          0         0       689
2          0      0  ...       3272       3455       3261         0      1000
3          0      0  ...      14331      14948      15549      1518      1500
4          0      0  ...      28314      28959      29547      2000      2019
...      ...    ...  ...        ...        ...        ...       ...       ...
29996      0      0  ...      88004      31237      15980      8500     20000
29997     -1     -1  ...       8979       5190          0      1837      3526
29998      2     -1  ...      20878      20582      19357         0         0
29999      0      0  ...      52774      11855      48944     85900      3409
30000      0      0  ...      36535      32428      15313      2078      1800

            X20       X21       X22       X23                           Y
0      PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1             0         0         0         0                           1
2          1000      1000         0      2000                           1
3          1000      1000      1000      5000                           0
4          1200      1100      1069      1000                           0
...         ...       ...       ...       ...                         ...
29996      5003      3047      5000      1000                           0
29997      8998       129         0         0                           0
29998     22000      4200      2000      3100                           1
29999      1178      1926     52964      1804                           1
30000      1430      1000      1000      1000                           1

[30001 rows x 25 columns]